html {
  /* height: 100%; */
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #e6e6fa, #d8bfd8); /* Lavender, Thistle */
  color: #4b0082; /* Indigo */
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(220, 220, 255, 0.8); /* Orchid */
  border: 5px solid #da70d6; /* Orchid */
  border-radius: 10px;
  box-shadow: 0px 0px 20px #800080; /* Purple */
}

h1,
h2 {
  background-color: #daa0dd; /* Plum */
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 28px;
  color: #fff;
  text-shadow: 2px 2px 4px #800080; /* Purple */
}

h2 {
  font-size: 24px;
}

#nodeInfo,
.invoice-section {
  padding: 15px;
  background-color: rgba(221, 160, 221, 0.8); /* Plum */
  border-radius: 5px;
  margin-top: 20px;
  max-width: 100%;
  word-wrap: break-word;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 5px;
}

.pay-btn {
  background-color: #ffa07a; /* Light Salmon */
}

.generate-btn {
  background-color: #ffdead; /* Navajo White */
}

button:hover {
  opacity: 0.8;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #da70d6; /* Orchid */
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
